@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: #243e63;
}

html {
    scroll-behavior: smooth;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    display: flex;
}

a {
    text-decoration: none;
    display: flex;
}

.section {
    padding: 0 32px;
    width: 100%;
}

.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.container {
    display: flex;
    padding: 80px 0;
}

.text__highlight {
    color: #6415ff;
}

p {
    line-height: 1.5;
}


/* NAVIGATION */



nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 32px 0;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__logo--img {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
}

.nav__logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav__logo--name {
    font-size: 24px;
    font-weight: 900;
}

.nav__links {
    display: flex;
    align-items: center;
    
}

.nav__link {
    display: flex;
    margin: 4px 24px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.35px;
}

.nav__link--primary {
    padding: 10px 32px;
    margin-top: 2px;
    background-color: #6415ff;
    color: #fff;
    border-radius: 30px;
    line-height: 1.5;
}

/* --- LANDING --- */

.header__description {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.header__description--title {
    font-size: 36px;

}

.header__description--para {
    font-size: 16px;
    margin: 32px 0;
}

.header__email {
    width: 100%;
    max-width: 440px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500;
}

.header__image--wrapper {
    width: 40%;
}

.header__img {
    width: 100%;
}

/* --- FEATURES --- */

.services {
    display: flex;
    flex-wrap: wrap;
}

.service {
    display: flex;
    width: calc(100%/3)
}

.service__description {
    display: flex;
    flex-direction: column;
}

/* --- QUALITY WORK --- */

.quality__description {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.quality__img--wrapper {
    width: 50%;
}

/* --- STEPS --- */

.steps__image--wrapper {
    width: 50%;
}

.steps__description {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.step {
    display: flex;
}

/* --- VALUES --- */



/* --- PRICING --- */


/* --- TESTIMONIALS --- */


/* --- CALL TO ACTION --- */


/* --- FOOTER --- */