@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: #243e63;
}

html {
    scroll-behavior: smooth;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    display: flex;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    padding: 0 32px;
    width: 100%;
}

button {
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: rgba(60, 13, 153);
}

.button:active {
    transform: translateY(2px);
}

.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

.section__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}


.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.container {
    display: flex;
    padding: 80px 0;
}

.text__highlight {
    color: #6415ff;
}

p {
    line-height: 1.5;
}

h1 {
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


/* NAVIGATION */



nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 32px 0;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__logo--img {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
}

.nav__logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav__logo--name {
    font-size: 24px;
    font-weight: 900;
}

.nav__links {
    display: flex;
    align-items: center;    
}

.nav__link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.nav__link {
    display: flex;
    margin: 4px 24px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.35px;
}

.nav__link--primary {
    padding: 10px 32px;
    margin-top: 2px;
    background-color: #6415ff;
    color: #fff;
    border-radius: 30px;
    line-height: 1.5;
    cursor: pointer;
}

/* --- MENU --- */

.menu--open .menu {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu {
    display: block;
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
    color: white;
}

.btn__menu--burger {
    height: 15px;
    width: 15px;
    background-color: white;
}

.btn__menu--close {
    height: 15px;
    width: 15px;
    background-color: white;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 380px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    transition: all 300ms ease;
    transform: translate(100%);
}

.menu__links {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.menu__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

/* --- LANDING --- */

.header__description {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.header__description--paragraph {
    font-size: 16px;
    margin: 32px 0;
}

.header__email {
    width: 100%;
    max-width: 440px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__email--input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    z-index: 1;
    transition: border-color 300ms;
}

.header__email--btn {
    z-index: 2;
    margin: 8px;
    height: calc(100%-16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
    padding: 16px;
    cursor: pointer;
}

.header__customers--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
}

.header__customers {
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}

.header__image--wrapper {
    width: 60%;
}

.header__img {
    width: 100%;
}

/* --- FEATURES --- */

#features {
    text-align: center;
}

.row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.feature__wrapper {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
    width: calc(100%/3)
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature__img {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.feature__description {
    display: flex;
    flex-direction: column;
}

.feature__para {
    margin-top: 16px;
    font-size: 16px;
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
}

/* --- QUALITY WORK --- */

.quality__description {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 56px;
}

.quality__img--wrapper {
    width: 50%;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 4px;
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
}

.quality__img {
    width: 100%;
}

.quality__btn {
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color:#fff;
    font-weight: bold;
    transition: all 300ms ease;
    cursor: pointer;
    margin-top: 32px;
}

/* --- STEPS --- */



.steps__image--wrapper {
    width: 50%;
    display: flex;
    position: relative;
}

.steps__img {
    width: 100%;
}

.steps__description {
    width: 50%;
    padding: 32px 0;
    padding-left: 64px;
    display: flex;
    flex-direction: column;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

.step__title {
    font-weight: 600px;
    font-weight: bold;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
}

.step__para {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}

/* --- VALUES --- */

.values__description {
    width: 50%;
    padding: 32px 64px 32px 0;
}

.values__list {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    max-width: none;
    flex-direction: row;
}

.value__title {
    display: flex;
    align-items: center;
}

.value__name {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
}

.value__img-wrapper--dollar {
    border: none;
    background-color: #9ae6b4;
    color: #fff;
    padding: 8px;
    border-radius: 50%;
}

.value__img-wrapper--suitcase {
    border: none;
    background-color: #feb2b2;
    color: #fff;
    padding: 8px;
    border-radius: 50%;
}

.value {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.value:nth-of-type(1) {
    margin-top: 32px;
    margin-right: 32px;
}

.value:nth-of-type(2) {
    margin-top: 32px;
}

.values__btn {
    margin-top: 48px;
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms ease;
    cursor: pointer;
    align-items: center;
}

.values__img--wrapper {
    width: 50%;
}

.values__img {
    width: 100%;
}

/* --- PRICING --- */

.pricing__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.pricing__plans {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
}

.pricing__plan {
    width: 380px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 4rem;
    border-radius: 0.5rem;
    align-items: center;
    background-color: rgb(255 255 255);
    text-align: center;
    color: rgb(26 32 44);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.pricing__plan:nth-child(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.pricing__plan:nth-child(1) .pricing__plan--stripe,
.pricing__plan:nth-child(1) .pricing__plan--btn {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.pricing__plan:nth-child(3) .pricing__plan--stripe,
.pricing__plan:nth-child(3) .pricing__plan--btn {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.pricing__plan--stripe {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.pricing__plan--top {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    line-height: 1.625;
}

.pricing__plan:nth-child(odd) .pricing__plan--name,
.pricing__plan:nth-child(odd) .pricing__plan--price,
.pricing__plan:nth-child(odd) .pricing__plan--target {
    color: #1a202c;
}

.pricing__plan--duration:nth-child(odd) {
    color: #a0aec0;
}

.pricing__plan:nth-child(2) .pricing__plan--name,
.pricing__plan:nth-child(2) .pricing__plan--price,
.pricing__plan:nth-child(2) .pricing__plan--target,
.pricing__plan:nth-child(2) .pricing__plan--duration,
.pricing__plan:nth-child(2) .pricing__plan--feature {
    color: #f7fafc;
}

.pricing__plan--name,
.pricing__plan--price,
.pricing__plan--duration {
    font-weight: bold;
    line-height: 1.625;
}

.pricing__plan--price {
    font-size: 48px;
    margin: 4px 0;
}

.pricing__plan--name {
    font-size: 20px;
}

.pricing__plan--duration {
    font-size: 16px;
    letter-spacing: 0.1em;
}

.pricing__plan--middle:nth-child(1) .pricing__plan--middle {
    border-top: 2px solid rgb(164, 166, 170);
    border-bottom: 2px solid rgb(164, 166, 170);
}

.pricing__plan--middle {
    margin-left: -2rem;
    margin-right: -2rem;
    padding: 2rem;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
}

.pricing__plan--target {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
}

.pricing__plan--feature {
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1.5;
}

.pricing__plan--bottom {
    padding: 2rem 4rem;
}

.pricing__plan--btn {
    padding: 0.75rem 2rem;
    font-weight: 700;
    width: 100%;
    border-radius: 9999px;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border: none;
    cursor: pointer;
    transition: all 300ms ease;
}

.pricing__plan--btn:hover {
    transform: translate(1px, -1px);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

/* --- TESTIMONIALS --- */

.testimonials__img--wrapper {
    width: 50%;
}

.testimonials__img {
    width: 100%;
}

.testimonials__description {
    width: 50%;
    flex-direction: column;
    padding-left: 64px;
}

.testimonial {
    margin-top: 40px;
}

.testimonial__star--rating {
    color: rgba(246, 173, 85);
    margin-right: 2px;
    margin-top: 4px;
}

.testimonial__title {
    color: #4a5568;
    line-height: 1.625;
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
}

.testimonial__para {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 500;
    line-height: 1.625;
    font-size: 16px;
    color: rgb(74 85 104);
}

.testimonial__footer {
    display: flex;
    justify-content: space-between;
}

.testimonial__profile {
    display: flex;
    align-items: center;
}

.testimonial__profile--img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.testimonial__details {
    margin-left: 24px;
}

.testimonial__name {
    color: #4a5568;
    line-height: 1.625;
    font-size: 1.25rem;
    font-weight: 700;
}

.testimonial__title--hale {
    color: #7c8ba1;
    font-weight: 500;
    line-height: 1.5;
}

.testimonial__buttons {
    display: flex;
    align-items: center;
}

.testimonial__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: #edf2f7;
    border-radius: 50%;
    margin: 0 12px;
    color: rgb(100, 21, 255);
    transition: all 300ms ease;
}

.testimonial__button:hover {
    background-color: rgb(229, 231, 235);
}

.divider {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border-right-width: 1px;
    width: 0.5px;
    background-color: #edf2f7;
    height: 20px;
}

/* --- CALL TO ACTION --- */

.start__container {
    padding: 96px 0;
    width: 100%;
    background-color: rgb(100, 21, 255);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__row {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start__cta {
    color: #f7fafc;
    width: 50%;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    z-index: 2;
}

.start__btns {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.start__button {
    padding: 20px 40px;
    border-radius: 500px;
    font-weight: 700;
    font-size: 16px;
    color: #f7fafc;
    line-height: 1.5;
    margin: 1px;
    z-index: 2;
    background: #f56565;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin-right: 32px;
    transition: all 300ms ease;
}

.start__button:hover {
    background-color: rgba(229, 62, 62);
}

.start__contact {
    padding: 20px 40px;
    border-radius: 500px;
    font-weight: 700;
    font-size: 16px;
    color: #f7fafc;
    line-height: 1.5;
    margin: 1px;
    z-index: 2;
    background-color: rgb(100, 21, 255);
    border: 1px solid rgb(160, 174, 192);
    transition: all 300ms ease;
}

.start__contact:hover {
    background-color: rgba(247, 250, 252);
    color: rgba(100, 21, 255);
}

/* --- FOOTER --- */

footer {
    padding: 32px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}

.footer__row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.footer__column--wrapper {
    width: 100%;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__column {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    width: calc(100%/5);
    align-items: center;
    z-index: 2;
}

.footer__column--title {
    font-weight: 700;
    color: #f7fafc;
    line-height: 1.5;
}

.footer__column--link:nth-child(2) {
    margin-top: 24px;
}

.footer__column--link {
    color: #f7fafc;
    font-size: 14px;
    margin-top: 12px;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.footer__column--link:hover {
    text-decoration: line-through;
}

.footer__divider {
    width: 100%;
    height: 2px;
    margin: 64px 0;
    background: rgb(116, 44, 255);
}

.footer__signature {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__logo--img {
    height: 32px;
    width: 32px;
}

.footer__logo--name {
    font-size: 20px;
    color: #f7fafc;
    font-weight: 900;
    margin-left: 8px;
    letter-spacing: 0.05em;
}

.footer__copyright {
    color: #cdb5e0;
    font-weight: 500;
}

.footer__socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -16px;
}

.footer__socials--link {
    margin-left: 16px;
    padding: 8px;
    background: #f7fafc;
    display: flex;
    justify-content: center;
    border-radius: 500px;
    z-index: 2;
    cursor: pointer;
    transition: all 300ms ease;
}

/* --- TABLETS --- */

@media (max-width: 768px) {

}

/* --- PHONES --- */

@media (max-width: 550px) {

}